.fira-sans-thin {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  

body{
    margin:0;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.navbar{
    /* width:100%; */
    height:80px;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.div-select{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0 10px 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
  
  label{
    font-size: larger;
  }
  input{
    height: 40px;
    text-align: center;
  }
  
  .readbuttondiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    label{
      font-size: small;
    }
    button{
      height: 50px;
      width: 50px;
      background:url(./book.png) ;
      background-size: contain;
      border: 0;
      cursor:pointer ;
     }
  }
}
.showverse{
position: relative;
width: 100%;
   padding: 20px 0 20px 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   flex-wrap: wrap;
  p,li{
    margin:0 100px 10 100px;
    width:fit-content;
    padding: 0;
    text-align: justify;
  }

.rfchp{
  margin:10px 100px 10 100px;
  height: fit-content;
  width:fit-content;
  float: right;
}

}
.head{

  text-decoration: underline 1px rgb(206, 206, 206);
font-weight: bolder;
font-size: larger;
 } 
 .ref{
  font-weight: bold;
  text-align: center;
 }

.chp-prev{
  /* display: none; */
  position: absolute;
top: 10%;
left: 10px;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  font-size: xx-large;
  border: 0;
  color: darkblue;
}
.chp-nxt{
  /* display: none; */
  position: absolute;
top: 10%;
right: 10px;
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  font-size: xx-large;
  border: 0;
  color: darkblue;

}
.chp-nxt:hover ,.chp-prev:hover {
  transform: scale3d(1.5,1.5,15);
  transition: transform 0.5s ease;
}